.header {
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}
.header2 {
  margin-top: 0px;
  text-align: center;
  padding-bottom: 10px;
}
#line {
  border-bottom-style: solid;
  border-bottom-color: midnightblue;
}
#contact {
  text-align: center;
  padding-bottom: 10px;
}
.position {
  text-align: center;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: midnightblue;
  border-left-color: transparent;
  border-right-color: transparent;
  margin-top: 0px;
  padding-top: 5px;
}
.header3 {
  margin-top: 15px;
  text-align: left;
  padding-bottom: 10px;
}
#line2 {
  border-bottom-style: solid;
  border-bottom-color: midnightblue;
  border-width: 2px;
}
#side {
  background-color: Powderblue;
  margin-top: 10px;
  padding-top: 5px;
}
#line3 {
  border-bottom-style: solid;
  border-bottom-color: powderblue;
  border-width: 2px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
}
p {
  text-indent: 40px;
}