.header {
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}
.header2 {
  margin-top: 0px;
  text-align: center;
  padding-bottom: 10px;
}
#line {
  border-bottom-style: solid;
  border-bottom-color: midnightblue;
}
#contact {
  text-align: center;
  padding-bottom: 5px;
}
#position {
  text-align: center;
  border-style: solid;
  border-top-color: powderblue;
  border-bottom-color: midnightblue;
  border-left-color: transparent;
  border-right-color: transparent;
}